<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>DemoThymeleaf</title>
</head>
<body style="text-align: center">
<div th:replace="~{common/header::header}"></div>
<br>
<h4 th:text="${userModel.title}">DEMO</h4>

<form action="/user" th:action="@{/user}" method="post" th:object="${userModel.user}">
    <input type="hidden" name="id" th:value="*{id}">
    <br>
    <br>
    名字 &nbsp;&nbsp; <input type="text" name="name" th:value="*{name}">
    <br>
    <br>
    年龄 &nbsp;&nbsp; <input type="number" name="age" th:value="*{age}">
    <br>
    <br>
    Email &nbsp;&nbsp; <input type="text" name="email" th:value="*{email}">
    <br>
    <br>
    <input type="submit" value="提交">
</form>
<br>
<div th:replace="~{common/footer::footer}"></div>
</body>
</html>