<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body style="text-align: center">
<div th:replace="~{common/header::header}"></div>
<h4 th:text="${userModel.title}">DEMO</h4>
<div>
    <a href="/user/form" th:href="@{/user/form}">新建用户</a>
</div>
<br>
<div style="text-align: center">
    <table border="2" style="margin: auto">
        <thead>
        <tr>
            <td>id</td>
            <td>名字</td>
            <td>年龄</td>
            <td>Email</td>
            <td>管理</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${userModel.userList.size()} eq 0">
            <td style="width: fit-content">无数据!!!</td>
        </tr>
        <tr th:each="user:${userModel.userList}">
            <td th:text="${user.id}"></td>
            <td><a th:href="@{'/user/'+${user.id}}" th:text="${user.name}"></a></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td><a th:href="@{'/user/delete/'+${user.id}}">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<div th:replace="~{common/footer::footer}"></div>
</body>
</html>